<div class="modal fade" id="modaledit" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Update Information</h4>
        </div>
        <div class="modal-body">
            <form action="" method="POST">
                <div class="form-group">
                    <label>ID</label>
                    <input type="hidden" value="id" name="id">
                    <input type="text" class="form-control" name="id" value="0">
                </div>
                <div class="form-group">
                    <label>Author Name</label>
                    <input type="text" class="form-control" name="author" value="Patrick Bateman">
                </div>
                <div class="form-group">
                    <label>Language</label>
                    <input type="text" class="form-control" name="language" value="English">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" value="American Psycho">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" class="form-control" name="price" value="2000">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Update Book</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="bt-secondary btn" type="button" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>